*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: 5rem;
  margin: 1rem;
}

main {
  background: linear-gradient(0deg,#f5e5dd 0%, #6cc1dd 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 4px solid black;
  text-align: center;
  margin-bottom: 1rem;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25rem;
  flex-wrap: wrap;

  width: 100%;
}
.gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 24%;
  height: 50%;
}
img {
  width: 100%;
  height: 100%;
}

img:hover{
    animation: image 1s forwards 0s;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

.nav__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}
.nav__buttons button {
  height: 100%;
  margin: 0.5rem;
}

button {
  width: 20%;
  height: 10%;

  border: 2px solid black;
  background-color: transparent;
}

a {
  color: black;
}

@keyframes image{
    to{
        opacity: 0.7;
        transform: scale(1.1);
    }
}