:root{
    --primary-color: #00b38c;
    --secondary-color: rgb(221, 0, 111);
    
    --text-color: white;
    
    --box-background-color: #0009;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color)
}

.main{
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;

    background-image: url(img/fondo.svg);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;

    border: 2px solid fuchsia;

    
}

.navbar{
    border: 2px solid aqua;
    width: 100%;
    height: 30%;

}

.page{

} 